<div style="background-color: rgba(1,1,1,0.1); border: 2px dashed black;padding: 5px 20px">
<h1>App Component</h1>

<div style="padding:0px 5px; border: 2px solid black; background-color: white;">
   <h2>Directive : AppAdHost</h2>
   <ng-template appAdhost></ng-template>   
</div>

<div style="margin: 20px 0;padding: 5px; background-color: rgba(34, 56, 111, 0.2);border: 2px solid darkblue">
   <h4>ViewRef : AppViewRef</h4>
   <ng-template appViewRef></ng-template>
</div>

<div style="padding: 10px; background-color: rgba(0,145,23, 0.2);">
   <h4>TemplateRef : EmbedRef</h4>
   <ng-template #embedRef>
      <div style="font-size: 18px; padding: 20px; border: 1px solid black; background: lightgray"> Emebeded View/Content from AppComponent template </div>
   </ng-template>
</div>
</div>